@page
@model Demo.Pages.TaskManager.IndexModel
@{
}
<div class="row">
    <div class="col-md-4 text-center">
        <div class="border-bottom border-2 p-3">
            <label class="text-danger">Просроченные</label>
        </div>
        <div class="container">
            <partial name="_VeiwTaskPartial" model="Model.OverdueTasks"/>
        </div>
    </div>

    <div class="col-md-8 d-flex justify-content-center">
        <div class="row">
            <div class="nav justify-content-md-start">
                <ul class="nav nav-pills border">
                    <li class="nav-item">
                        <a class="nav-link">Все</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Мне</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Мои</a>
                    </li>
                    <li class="nav-item">
                        
                    </li>
                </ul>
                <a class="btn btn-outline-success" asp-page="/TaskManager/Create">Создать</a>
            </div>

            
            <partial name="_VeiwTaskPartial" model="Model.Tasks" />
            
        </div>
    </div>

</div>
